body{
    background-color: deepskyblue;
}
.container{
    display: box;
    justify-content: center;
    text-align: center;
    border: solid red;
}
.contadores{
    display: box;
    justify-content: center;
    vertical-align: text-bottom;
    border: solid red;
}
.box{
    border: solid red;
}
h1, h2, p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#minuto{
    font-size: 50px;
}
#litros{
    font-size: 80px;
}